<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" type="text/css" href="../static/home.css"/>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../static/home.js"></script>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
</head>
<body>

<h1 class="white-text centered">Showing data for all sensors</h1>

{% if view_model.sorted_data == [] %}
    <h1 class="white-text centered">No data yet...</h1>
{% else %}
    <div class="data_bubbles_holder">

        {% for data in view_model.sorted_data %}
            {% if loop.index == 1 %}
                <div class="data_bubble">
                <p class="centered">Latest received data:</p>
                    <div class="top-part">
                        <p class="date-time-holder">{{ data["time_stamp"].split(" ")[0] }}</p>
                    </div>
                    <div class="bottom-part">
                        <div class="temperature-div">
                            <div class="top-half">
                                <p class="value">{{ data["temperature"] }}°C</p>

                                <i class="fa-solid fa-temperature-high"></i>
                            </div>

                            <p class="text">Temperature</p>
                        </div>
                        <div class="humidity-div">
                            <div class="top-half">
                                <p class="value">{{ data["humidity"] }}%</p>

                                <i class="fa-solid fa-droplet"></i>
                            </div>

                            <p class="text">Humidity</p>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div>

    <div class="table-graph">
    <table>
        <tr>
            <th>Time</th>
            <th>Temperature</th>
            <th>Humidity</th>
            <th>Brightness</th>
            <th>Sensor</th>
        </tr>
        {% for data in view_model.original_data %}
            <tr>
                <td>{{ data["time_stamp"].split(" ")[0] }}</td>
                <td>{{ data["temperature"] }}</td>
                <td>{{ data["humidity"] }}</td>
                <td>{{ data["brightness"] }}</td>
                <td>{{ data["sensor_id"] }}</td>
            </tr>
        {% endfor %}
    </table>

    <div class="summary">
        <div class="summary-data">
            <div class="temp-summary">
                <h2 class="white-text centered">Temperature:</h2>
                <h2 class="white-text centered">Average: {{ view_model.temperature.average }}</h2>
                <h2 class="white-text centered">Max: {{ view_model.temperature.max }}</h2>
                <h2 class="white-text centered">Min: {{ view_model.temperature.min }}</h2>
            </div>
            <div class="humidity-summary">
                <h2 class="white-text centered">Humidity:</h2>
                <h2 class="white-text centered">Average: {{ view_model.humidity.average }}</h2>
                <h2 class="white-text centered">Max: {{ view_model.humidity.max }}</h2>
                <h2 class="white-text centered">Min: {{ view_model.humidity.min }}</h2>            </div>
        </div>

        <div class="chart-holder">
            <canvas id="myChart"></canvas>
        </div>
    </div>
    </div>
{% endif %}

</div>
</body>
<script>
    var myData = JSON.parse(
        ("{{ view_model.original_data }}").replaceAll("&#39;", "\"")
    );
    window.myData = myData;
</script>
</html>